$fondoTotal: rgb(32, 83, 30);
$fondoPartido: rgb(170, 231, 255);
$fondoBotones: rgb(17, 3, 94);

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style:none;
    color:inherit;      
}

#apuestas__listadoConfirmados{
    border: 3px solid black;

    .apuestas__total{
        display: flex;
        flex-flow: row nowrap;
        background-color: $fondoTotal;
        color:white;
        height: auto;
        padding: 2px 0px;
        align-items: center;

        .apuestas__expandir{
            width: 5%;
            text-align: center;

            .apuestas__botonExp{
                border-radius: 10px;
                width: 20px;
                height: auto;
            }
        }

        .apuestas__parrafoTotal{
            width: 70%;
            text-align: center;
            font-weight: bold;
        }

        .apuestas__parrafoBoton{
            width: 25%;
            text-align: center;
            font-weight: bold;
            
            button{
                width: 65px;
                border-radius: 15%;
            }
        }
    }

    .apuestas__partidos{
        background-color: $fondoPartido;

        div{
            padding: 0px 5px;
            display: flex;
            flex-flow: row nowrap;

            p{
                width: 33%;
            }
        }
    }

    .apuestas__contenedorVacio{
        width: 100%;
        text-align: center;
        color: $fondoBotones;
        font-weight: bold;
    }
}